[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=64&quality=lossless); /* shiggy img here */
    transform: scale(0.32) translate(-100%, -110%);
    display: inline-block;
}