div[class ^=scrollerContent]>ol[class^=scrollerInner]>div[class^=container]:has(div[class^=reactButtons]){
    position: sticky !important;
    background-color: gray !important;
}
div[class^=scrollerContent]>ol[class^=scrollerInner] {
    overflow: unset !important;
}