li #channels [class^=container_]:not([class*=containerWithMargin])
 { max-height: 0;
   overflow: hidden; 
   transition: max-height 4s ease; }
   
#channels [class^=containerDefault_]:hover + li[class^=container_]
li #channels [class^=container_]
{ max-height: 100%; }
